/** created by shawn sandy **/
/********** Shawn Sandy ************/
/* admin-menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .wp-submenu {
  width: 160px;
  background-color: #222;
}
#adminmenu {
  margin-top: 0;
}
#adminmenuwrap {
  padding-top: 0;
}
div.wp-menu-name {
  padding: 0 12px;
}
/* styling for admin menu */
#adminmenu {
  /* background and text color */
  /* links in admin menu 88*/
  /* change color of arrow to submenus */
  /* active screen as seen in menu - change the background and arrow colour */
}
#adminmenu #adminmenuback,
#adminmenu #adminmenuwrap {
  background-color: #58595b;
  border-color: #fff;
  padding-top: 0;
}
#adminmenu #adminmenu .wp-submenu .wp-submenu-head {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 4px 0px 11px;
  margin: -7px 0px 4px;
}
#adminmenu li.menu-top:hover,
#adminmenu #adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  background-color: #58595b;
  color: #d54e21;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
#adminmenu li.wp-menu-separator {
  background: #58595b;
  border-color: #fff;
  height: 1px;
}
#adminmenu a,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #fff;
}
#adminmenu a:hover,
#adminmenu a:active {
  color: #fff;
  text-decoration: underline;
}
#adminmenu .wp-submenu a {
  color: #58595b;
}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow,
#adminmenu li.wp-not-current-submenu .wp-menu-arrow div {
  background: #58595b;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
  background: #9e4059;
}
#adminmenu li.wp-has-current-submenu .wp-menu-arrow,
#adminmenu li.wp-has-current-submenu .wp-menu-arrow div {
  background: #9e4059;
}
