/** Created by shawn sandy **/

//background colors
@background-color: #fff;
@background-login: #fff;
@background-login-form: #fff;
@background-wrap: #fff;
@background-adminbar: #444343;
@background-adminmenu: #302d2d;
@background-adminmenu-folded: #ea5340;
@background-error: #ebf7e3;
@background-admin-menu: #302d2d;
@background-submenu: #2ea2cc;
@background-tiny-mce: #fff;


//colors
@color-adminbar: #ccc;
@color-adminmenu-submenu: #ccc;
@color-adminmenu-opensub: #ccc;
@color-adminmenu-folded: #ccc;
@color-adminmenu-current: #ccc;
@color-adminmenu-li-a: #ea5340;
@color-adminmenu-current-submenu: #ccc;
@color-menuname: #fff;




