/** Created by shawn sandy **/

//----- background colors -----//

@background-color: #fff;
@background-login: #fff;
@background-login-form: #fff;
@background-wrap: #fff;
//------------------------------


@background-error: #ebf7e3;

@background-tiny-mce: #fff;

// ************************** adminbar
@background-adminbar: lighten( #EEECEC, 5% );
@color-adminbar: #9f9f9f;
@color-adminbar-active: #ccc;
@color-adminbar-hover: #ccc;

// *************************** sidebar
@background-admin-sidebar: #302d2d;
@background-admin-sidebar-folded: #ea5340;
@color-sidebar: #ccc;
@color-sidebar-active: #ea5340;
@color-sidebar-hover: #2ea2cc;
@background-sidebar-submenu: #2ea2cc;
@border-sidebar-color: darken(@background-admin-sidebar, 20%);